@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Style du header */
.header {
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 1px 0px gray;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.home-btn {
  height: 36px;
}
.top-left-logo {
  width: 160px;
}
.user-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-add-fav-btn {
  text-decoration: none;
  color: #7c4ec4;
  height: 45px;
  padding: 9px;
  border-radius: 5px;
  border: 2px solid #7c4ec4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.header-log-sign-btn {
  text-decoration: none;
  color: white;
  background-color: #7c4ec4;
  height: 45px;
  border-radius: 5px;
  padding: 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.logout {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dropdown-access {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.header-avatar {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}
.header-username {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  line-height: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-btn {
  cursor: pointer;
}
.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  top: 38px;
  background-color: #7c4ec4;
  color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-arrow {
  position: absolute;
  top: 27px;
  right: 0px;
  color: #7c4ec4;
  font-size: 30px;
}
.hidden {
  display: none;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Style du composant SearchBar */
.search-bar {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 1;
  width: 50%;
}
.search-form {
  display: flex;
}
.search-input {
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  height: 35px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 16px;
}
.search-submit-btn {
  border: none;
  background-color: #5c48d3;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}
.suggestions-div {
  cursor: pointer;
  border: 1px solid lightgray;
  width: 100%;
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px lightgrey;
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: scroll;
}
.suggestion {
  line-height: 35px;
}
.suggestion:hover {
  background-color: lightgray;
  padding: -15px;
}

/* Style de la page Home */
.banner-div {
  height: 320px;
  position: relative;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.category-container {
  padding: 0 24px;
  box-sizing: border-box;
  margin: 80px 0px 100px;
}
.category-title {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
  padding-left: 12px;
}
.items {
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.arrow-left {
  position: absolute;
  top: 25%;
  left: 15px;
  font-size: 40px;
  z-index: 2;
  filter: drop-shadow(2px 2px 3px gray);
  color: white;
  cursor: pointer;
}
.arrow-left:active {
  transform: translateY(2px);
  filter: drop-shadow(0 0 0);
}
.arrow-right {
  position: absolute;
  top: 25%;
  right: 15px;
  font-size: 40px;
  z-index: 2;
  filter: drop-shadow(2px 2px 3px gray);
  color: white;
  cursor: pointer;
}
.arrow-right:active {
  transform: translateY(2px);
  filter: drop-shadow(0 0 0);
}
.category-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.view-all-div {
  padding-right: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.view-all-div a {
  color: #7c4ec4;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.view-all-chevron {
  color: #7c4ec4;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

/* Style du composant LocationCardHome */
.shop-card {
  position: relative;
  width: calc(100% / 4);
  height: 340px;
  padding: 0 12px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.shop-card-pic {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.heart-container {
  position: absolute;
  top: 10px;
  right: 22px;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  color: red;
  font-size: 30px;
}
.card-info {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-evenly;
}
.shop-name-card {
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-desc {
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}

/* Style de la page alloffersmap */
.all-offers-map {
  height: calc(100vh - 60px);
  display: flex;
}
.shops-part {
  height: calc(100vh - 60px);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
  padding: 30px 15px;
  box-sizing: border-box;
}
.filter-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter-button-checked {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  width: fit-content;
  cursor: pointer;
}
.filter-button-unchecked {
  border-radius: 5px;
  border: 1px solid #444444;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #444444;
  box-sizing: border-box;
  width: fit-content;
  cursor: pointer;
}
/* .filter-button-checked {
  border-radius: 5px;
  border: 1px solid #444444;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  box-sizing: border-box;
  width: fit-content;
  cursor: pointer;
} */
.sort-div {
  display: flex;
  gap: 10px;
}
.sort-button-unchecked {
  width: fit-content;
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.sort-button-checked {
  width: fit-content;
  border: 1px solid #444444;
  background-color: #444444;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.reset-button {
  width: fit-content;
  border: 1px solid #5c48d3;
  background-color: #5c48d3;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.pagination-div {
  display: flex;
  gap: 10px;
  margin-left: 25px;
  align-items: center;
}
.limit-div {
  display: flex;
  gap: 10px;
}
.pages-div {
  display: flex;
  gap: 5px;
}
.page-count {
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 5px;
  font-size: 500;
}
.prev-btn,
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  border: 1px solid #5c48d3;
  background-color: #5c48d3;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  border: 1px solid #9182ea;
  background-color: #9182ea;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: not-allowed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.limit-button-unchecked {
  width: fit-content;
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.limit-button-checked {
  width: fit-content;
  border: 1px solid #5c48d3;
  background-color: #5c48d3;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.shop-cards-div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.map-part {
  height: calc(100vh - 60px);
  width: 50%;
}
.main-map {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.map-popup {
  height: 230px;
  width: 280px;
}
.map-popup img {
  width: 100%;
  height: 164px;
}

/* Style du composant LocationCardAllOffersMap */
.location-card-all-offers-map {
  width: calc(100% / 3 - 60px / 3);
  height: 240px;
  border-radius: 5px;
  border: 1px solid #c3ccce;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  box-shadow: 0 0 2px 1px lightgray;
  text-align: center;
}
.shop-card-pic-top {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

/* Style de la page shop */
.shop-container {
  display: flex;
  gap: 50px;
  width: 100%;
}
.shop-left-side {
  flex: calc(100% / 3 * 2 - 25px);
}
.top-div-info {
  display: flex;
  justify-content: space-between;
}
.top-div-info .top-div-right .favorite-icon {
  font-size: 40px;
  padding-top: 10px;
  cursor: pointer;
}
.shop-left-side h2 {
  font-size: 28px;
  color: #444444;
  font-weight: 600;
  line-height: 42px;
}
.price-and-rate {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.tag-rounded-corner {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  width: fit-content;
  margin-bottom: 30px;
}
.tag-icon {
  height: 18px;
  width: 18px;
}
.pic-management {
  position: relative;
  margin-bottom: 30px;
}
.more-pics {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  border-radius: 5px;
  height: 32px;
  width: 175px;
  background-color: #444444;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.more-pics .more-pics-text {
  opacity: 2;
  color: white;
  font-weight: 600;
}
.pic-mosaic {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns:
    [Line1] calc(28% - 1px) [line2] calc(28% - 1px) [line3] calc(28% - 1px)
    [line4] 16%;
  grid-template-rows: [row1] 50% [row2]50%;
  gap: 1px;
}
.mosaic-item:first-child {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(2) {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(3) {
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(4) {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  object-fit: cover;
}
.mosaic-item:nth-child(5) {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  object-fit: cover;
}
.front-pic {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.full-desc {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  line-height: 24px;
}
.add-review-and-photo {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  align-items: center;
}
.add-review {
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #7b4ec3;
  border: 2px solid #7b4ec3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.add-photo {
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #7b4ec3;
  border: 2px solid #7b4ec3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.shop-right-side {
  flex: calc(100% / 3 - 25px);
  display: flex;
  flex-direction: column;
}
.shop-leaflet-mini-map {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  z-index: 1;
  margin-bottom: 25px;
  margin-top: 130px;
}
.under-map-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
  border-bottom: solid 1px #444444;
}
.individual-info {
  display: flex;
  align-items: center;
  line-height: 24px;
}
.info-icon-container {
  min-width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.shop-info-icon {
  font-size: 18px;
  color: #444444;
}
.nearby {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nearby-container {
  display: flex;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

/* Style du composant ReviewCard */
.review-card-main {
  height: fit-content;
  width: 628px;
  border: 1px solid lightgray;
  margin-top: 35px;
  box-shadow: 1px 1px 3px lightgray;
}
.review-card-header {
  display: flex;
  height: 96px;
  background-color: #fafafa;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.review-card-user-avatar {
  height: 96px;
  width: 96px;
  border-radius: 50%;
}
.review-card-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}
.review-card-user-preference {
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-card-username {
  font-size: 16px;
  font-weight: 600;
  color: #7c4ec4;
}
.review-card-review-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.review-card-rating-date-div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.review-card-rating {
  font-size: 18px;
}
.review-card-date {
  font-size: 12px;
  color: #777777;
}
.review-card-review-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}
.pros-cons span {
  font-weight: 600;
}
.review-card-shop-photo-container {
  display: flex;
  gap: 15px;
}
.review-card-shop-photo {
  height: 115px;
  width: 115px;
  border-radius: 10px;
}

/* Style du composant NearbyShop */
.nearby-container {
  display: flex;
  gap: 10px;
  height: 83px;
}
.nearby-pic-container {
  width: calc(100% / 3);
  height: 100%;
}
.nearby-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nearby-info {
  width: calc(100% / 3 * 2 - 5px);
}

/* Style de la page images */
.store-images-thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.vignette {
  width: calc(100% / 4 - 45px / 4);
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
}

/* Style de la page profile */
.profile-main {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.personal-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.avatar-div {
  position: relative;
  height: 400px;
  width: 400px;
  border: 2px solid lightgray;
  border-radius: 5px;
}
.profile-avatar {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.avatar-upload-div {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}
.avatar-upload-div:active {
  box-shadow: none;
  transform: translateY(2px);
}
.avatar-upload-icon {
  color: #7c4ec4;
  font-size: 40px;
  position: absolute;
}
.info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 25px;
  border-radius: 5px;
  border: 2px solid lightgray;
  width: fit-content;
  height: 50%;
}
.only-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.profile-page-username {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  color: #444444;
}
.profile-page-email {
  font-size: 22px;
}
.profile-page-location {
  font-size: 22px;
}
.profile-page-preferences {
  font-size: 22px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-edit-button {
  color: #5c48d3;
  font-size: 40px;
  cursor: pointer;
}
.separation-div {
  height: 5px;
  width: 100%;
  background-color: lightgray;
}
.favorites-div-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.favorite-div-nav-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #444444;
}
.favorites-div-nav-title-icon {
  color: #5c48d3;
}
.profile-view-all-favorites {
  font-size: 20px;
  font-weight: 500;
  color: #7c4ec4;
}
.favorites-list {
  display: flex;
  gap: 25px;
  width: 100%;
}
.favorite-card-profile-page {
  width: calc(100% / 3 - 50px / 3);
  height: 300px;
}
.favorite-shop-pic-profile-page-div {
  height: 70%;
  width: 100%;
  position: relative;
}
.main-pic-favorite-profile-page {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.bookmark-div-profile-page {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px gray;
}
.bookmark-icon-profile-page {
  font-size: 24px;
  color: #5c48d3;
}
.favorite-profile-page-info {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-and-icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.favorite-name-profile-page {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #444444;
}
.favorite-address-profile-page {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #777777;
}

/* Style de la page Favorites */
.favorites-main {
  display: flex;
  height: 100vh;
}
.favorites-left-part {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
}
.favorites-left-part-empty {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #7b4ec3;
  padding: 30px;
  gap: 25px;
}
.favorites-right-part {
  height: 100%;
  width: 50%;
}
.map-favorites {
  height: 100%;
  width: 100%;
}

/* Style de la page Add-listing */
.add-listing-main {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: calc(100vh - 228.5px);
  box-sizing: border-box;
}
.add-listing-main h1 {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
}
.type-selection-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.shop-card-type-container {
  width: calc(100% / 5 - 125px / 5);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-sizing: border-box;
  cursor: pointer;
}
.serves-flesh-or-fish {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: calc(100vh - 228.5px);
  box-sizing: border-box;
}
.go-back {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7c4ec4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.serves-flesh-or-fish h1 {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
}
.yes-or-no {
  display: flex;
  gap: 15px;
}
.yes-or-no p {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #7c4ec4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.sorry {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: calc(100vh - 228.5px);
  box-sizing: border-box;
}
.sorry h1 {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
  align-self: center;
}
.sorry p {
  font-size: 20px;
  align-self: center;
}
.sorry a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  color: white;
  background-color: #7c4ec4;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  align-self: center;
}
.add-listing-info {
  margin: 30px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: calc(100vh - 228.5px);
  box-sizing: border-box;
  border: 1px solid #ababab;
  border-radius: 10px;
}
.add-listing-info-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ababab;
  padding-bottom: 10px;
}
.add-listing-all-steps {
  display: flex;
  gap: 35px;
}
.nav-step {
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-step p {
  font-size: 20px;
  font-weight: 400;
  color: #444444;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ababab;
  flex-shrink: 0;
}
.active {
  border: 2px solid #7c4ec4;
}
.add-listing-info input {
  height: 30px;
  width: 500px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #c3ccce;
  border-radius: 5px;
}
.add-listing-business-name-div,
.add-listing-phone-number-div,
.add-listing-street-div,
.add-listing-city-div,
.add-listing-zipcode-div,
.add-listing-website-div,
.add-listing-facebook-div,
.add-listing-instagram-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
.business-name-input-and-tag {
  display: flex;
  gap: 35px;
}
.business-name-input-and-tag .tag-rounded-corner {
  margin-bottom: 0;
  height: 30px;
  padding: 10px;
  font-size: 20px;
}
.add-listing-set-location-div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.set-location {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7c4ec4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.set-location-disabled {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #9182ea;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: not-allowed;
}
.add-listing-map {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.validate-or-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-form {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: #7c4ec4;
  cursor: pointer;
}
.validate {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7c4ec4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.validate-disabled {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #9182ea;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: not-allowed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.add-listing-info textarea::placeholder {
  font-family: "Poppins";
  font-size: 16px;
  color: #ababab;
}
.add-listing-info textarea {
  font-family: "Poppins";
  font-size: 16px;
}
.price-range {
  display: flex;
  gap: 15px;
}
.price-range-type {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7c4ec4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border: 1px solid #7c4ec4;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.price-range-type-not-selected {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  color: #7c4ec4;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border: 1px solid #7c4ec4;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.add-listing-rating-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
.add-listing-rating-div select {
  width: 150px;
  height: 26px;
  font-size: 16px;
}
.pictures-container {
  height: 180px;
  border: 1px solid #444444;
  border-radius: 5px;
  display: flex;
  overflow: scroll;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.pictures-icon {
  font-size: 50px;
  color: #7c4ec4;
  cursor: pointer;
}
.pictures-container input {
  display: none;
}
.pictures-to-upload {
  height: 150px;
  width: auto;
  border: 1px solid #444444;
}
.addlisting-loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
.after-addlisting-submit-message {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.add-listing-info-after-submit {
  height: calc(100vh - 228.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Style de la page login */
.login-main {
  background-color: lightgray;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background-color: white;
  border-radius: 15px;
  height: 546px;
  width: 840px;
  overflow: hidden;
  display: flex;
}
.login-signup-switch-login {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.on-login {
  padding-bottom: 10px;
  border-bottom: 4px solid #7c4ec4;
}
.login-form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-form input {
  height: 20px;
  width: 343px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.email-div-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password-div-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.password-reveal-login {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 18px;
}
.password-hide-login {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 18px;
}
.login-form button {
  border: none;
  font-family: "Poppins";
  height: 24px;
  width: 369px;
  padding: 8px 0 8px 0;
  color: white;
  background-color: #7c4ec4;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Style de la page signup */
.signup-main {
  background-color: lightgray;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-container {
  background-color: white;
  border-radius: 15px;
  height: 830px;
  width: 840px;
  overflow: hidden;
  display: flex;
}
.left-part {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  background-image: url("./assets/signup_login_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo-slogan {
  padding: 0 0 0 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.signup-login-logo {
  width: 176px;
}
.slogan {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 16px;
}
.right-part {
  height: 100%;
  width: 55%;
  padding: 48px;
  box-sizing: border-box;
}
.login-signup-switch-signup {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}
.switch-to {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.on-signup {
  padding-bottom: 10px;
  border-bottom: 4px solid #7c4ec4;
}
.signup-form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.username-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.preferences-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.password-reveal-signup {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 18px;
}
.password-hide-signup {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 18px;
}
.signup-form input {
  height: 20px;
  width: 343px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.preferences-div-signup select {
  background-color: white;
  height: 20px;
  width: 343px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: content-box;
}
.signup-form button {
  border: none;
  font-family: "Poppins";
  height: 24px;
  width: 369px;
  padding: 8px 0 8px 0;
  color: white;
  background-color: #7c4ec4;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 5px;
}
.signup-confirmation-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 228.5px);
}
.signup-confirmation-page h1 {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.signup-confirmation-page .return-btn {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7c4ec4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Style du Footer */
.footer {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  color: #5c48d3;
  margin: 100px 0 50px 0;
  box-sizing: border-box;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: #5c48d3;
}

/* Style de la modal profileupdate */
.app {
  position: relative;
  height: fit-content;
}
.profile-modal-root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-modal-root .profile-modal {
  background-color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 25px;
  border-radius: 10px;
  gap: 15px;
}
.profile-modal .cancel-button {
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  border: #5c48d3 1px solid;
  background-color: #5c48d3;
  height: 25px;
  padding: 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.avatar-update-container {
  width: 250px;
  height: 150px;
  border: 1px dashed #444444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}
.avatar-update-icon {
  font-size: 40px;
  color: #5c48d3;
  cursor: pointer;
}
.avatar-update-container input {
  display: none;
}
.avatar-to-upload {
  height: 100%;
  border: 1px solid #444444;
}
.inputs .text-input {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.inputs .text-input::placeholder {
  font-size: 16px;
  color: rgb(174, 174, 174);
}
.profile-modal select {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  box-sizing: content-box;
}
.error-message {
  height: 25px;
  width: 282px;
  color: red;
  font-size: 14px;
}
.profile-modal .submit-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 5px;
  background-color: #5c48d3;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 5px;
  border: 1px solid #5c48d3;
  cursor: pointer;
}
.profile-modal .submit-button-disabled {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 5px;
  background-color: #988cdd;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 5px;
  border: 1px solid #988cdd;
  cursor: not-allowed;
}

/* Style de la modal AddReviewModal */
.add-review-modal-root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.add-review-modal-root .add-review-modal {
  background-color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 25px;
  border-radius: 10px;
  gap: 15px;
}
.add-review-modal .cancel-button {
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  border: #5c48d3 1px solid;
  background-color: #5c48d3;
  height: 25px;
  padding: 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-review .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.photos-container {
  width: 250px;
  height: fit-content;
  border: 1px dashed #444444;
  border-radius: 5px;
  display: flex;
  overflow: scroll;
  align-items: center;
  padding: 15px;
  gap: 20px;
}
.photos-icon {
  font-size: 40px;
  color: #5c48d3;
  cursor: pointer;
}
.photos-container input {
  display: none;
}
.photos-to-upload {
  height: 50px;
  border: 1px solid #444444;
}
.inputs .text-input {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.inputs .text-area {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.inputs .text-input::placeholder {
  font-size: 16px;
  color: rgb(174, 174, 174);
}
.add-review-modal select {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  box-sizing: content-box;
}
.error-message {
  height: 25px;
  width: 282px;
  color: red;
  font-size: 14px;
}
.add-review-modal .submit-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 5px;
  background-color: #5c48d3;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 5px;
  border: 1px solid #5c48d3;
  cursor: pointer;
}
.add-review-modal .submit-button-disabled {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 5px;
  background-color: #988cdd;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 5px;
  border: 1px solid #988cdd;
  cursor: not-allowed;
}

/* Style du loader */
.loader-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 224px);
}
