@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Style du header */
.header {
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 1px 0px gray;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.home-btn {
  height: 36px;
}
.top-left-logo {
  width: 160px;
}
.user-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-add-fav-btn {
  text-decoration: none;
  color: #7c4ec4;
  height: 45px;
  padding: 9px;
  border-radius: 5px;
  border: 2px solid #7c4ec4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.header-log-sign-btn {
  text-decoration: none;
  color: white;
  background-color: #7c4ec4;
  height: 45px;
  border-radius: 5px;
  padding: 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-avatar {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}
.header-username {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  line-height: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-btn {
  cursor: pointer;
}
.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  top: 38px;
  background-color: #7c4ec4;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-arrow {
  position: absolute;
  top: 27px;
  right: 0px;
  color: #7c4ec4;
  font-size: 30px;
}
.hidden {
  display: none;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Style de la page Home */
.banner-div {
  height: 320px;
  position: relative;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.category-container {
  padding: 0 24px;
  box-sizing: border-box;
  margin: 80px 0px 100px;
}
.category-title {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
  padding-left: 12px;
}
.items {
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.arrow-left {
  position: absolute;
  top: 25%;
  left: 15px;
  font-size: 40px;
  z-index: 2;
  filter: drop-shadow(2px 2px 3px gray);
  color: white;
  cursor: pointer;
}
.arrow-left:active {
  transform: translateY(2px);
  filter: drop-shadow(0 0 0);
}
.arrow-right {
  position: absolute;
  top: 25%;
  right: 15px;
  font-size: 40px;
  z-index: 2;
  filter: drop-shadow(2px 2px 3px gray);
  color: white;
  cursor: pointer;
}
.arrow-right:active {
  transform: translateY(2px);
  filter: drop-shadow(0 0 0);
}

/* Style du composant LocationCardHome */
.shop-card {
  position: relative;
  width: calc(100% / 4);
  height: 340px;
  padding: 0 12px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.shop-card-pic {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.heart-container {
  position: absolute;
  top: 10px;
  right: 22px;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  color: red;
  font-size: 30px;
}
.card-info {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-evenly;
}
.shop-name-card {
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-desc {
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}

/* Style de la page alloffersmap */
.all-offers-map {
  height: calc(100vh - 60px);
  display: flex;
}
.shops-part {
  height: calc(100vh - 60px);
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow: scroll;
  padding: 30px 15px;
  box-sizing: border-box;
}
.map-part {
  height: calc(100vh - 60px);
  width: 50%;
}
.main-map {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.map-popup {
  height: 230px;
  width: 280px;
}
.map-popup img {
  width: 100%;
  height: 164px;
}

/* Style du composant LocationCardAllOffersMap */
.location-card-all-offers-map {
  width: calc(100% / 3 - 60px / 3);
  height: 240px;
  border-radius: 5px;
  border: 1px solid #c3ccce;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  box-shadow: 0 0 2px 1px lightgray;
  text-align: center;
}
.shop-card-pic-top {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

/* Style de la page shop */
.shop-container {
  display: flex;
  gap: 50px;
  width: 100%;
}
.shop-left-side {
  flex: calc(100% / 3 * 2 - 25px);
  border: solid 1px blue;
}
.shop-left-side h2 {
  font-size: 28px;
  color: #444444;
  font-weight: 600;
  line-height: 42px;
}
.price-and-rate {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.tag-rounded-corner {
  border-radius: 5px;
  padding: 5px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  width: 130px;
  margin-bottom: 30px;
}
.tag-icon {
  height: 18px;
  width: 18px;
}
.pic-management {
  position: relative;
  margin-bottom: 30px;
}
.more-pics {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  border-radius: 5px;
  height: 32px;
  width: 175px;
  background-color: #444444;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.more-pics .more-pics-text {
  opacity: 2;
  color: white;
  font-weight: 600;
}
.pic-mosaic {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns:
    [Line1] calc(28% - 1px) [line2] calc(28% - 1px) [line3] calc(28% - 1px)
    [line4] 16%;
  grid-template-rows: [row1] 50% [row2]50%;
  gap: 1px;
}
.mosaic-item:first-child {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(2) {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(3) {
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.mosaic-item:nth-child(4) {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  object-fit: cover;
}
.mosaic-item:nth-child(5) {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  object-fit: cover;
}
.front-pic {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.full-desc {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  line-height: 24px;
}
.shop-right-side {
  flex: calc(100% / 3 - 25px);
  border: solid 1px red;
  display: flex;
  flex-direction: column;
}
.shop-leaflet-mini-map {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  z-index: 1;
  margin-bottom: 25px;
}
.under-map-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
  border-bottom: solid 1px #444444;
}
.individual-info {
  display: flex;
  align-items: center;
  line-height: 24px;
}
.info-icon-container {
  min-width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.shop-info-icon {
  font-size: 18px;
  color: #444444;
}
.nearby {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nearby-container {
  display: flex;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

/* Style du composant NearbyShop */
.nearby-pic-container {
  width: calc(100% / 3);
  height: 100%;
}
.nearby-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nearby-info {
  width: calc(100% / 3 * 2 - 5px);
}

/* Style de la page images */
.store-images-thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.vignette {
  width: calc(100% / 4 - 45px / 4);
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
}

/* Style de la page profile */
.avatar-div {
  position: relative;
  height: 400px;
  width: 400px;
}
.profile-avatar {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.avatar-upload-div {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}
.avatar-upload-div:active {
  box-shadow: none;
  transform: translateY(2px);
}
.avatar-input {
  color: transparent;
  cursor: pointer;
}
.avatar-input[type="file"]::file-selector-button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  color: transparent;
  cursor: pointer;
}
.avatar-upload-icon {
  color: #7c4ec4;
  font-size: 40px;
  position: absolute;
}

/* Style de la page login */
.login-main {
  background-color: lightgray;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background-color: white;
  border-radius: 15px;
  height: 546px;
  width: 840px;
  overflow: hidden;
  display: flex;
}
.login-signup-switch-login {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.on-login {
  padding-bottom: 10px;
  border-bottom: 4px solid #7c4ec4;
}
.login-form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-form input {
  height: 20px;
  width: 343px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.email-div-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password-div-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.password-reveal-login {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 18px;
}
.password-hide-login {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 18px;
}
.login-form button {
  border: none;
  font-family: "Poppins";
  height: 24px;
  width: 369px;
  padding: 8px 0 8px 0;
  color: white;
  background-color: #7c4ec4;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Style de la page signup */
.signup-main {
  background-color: lightgray;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-container {
  background-color: white;
  border-radius: 15px;
  height: 750px;
  width: 840px;
  overflow: hidden;
  display: flex;
}
.left-part {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  background-image: url("./assets/signup_login_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo-slogan {
  padding: 0 0 0 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.signup-login-logo {
  width: 176px;
}
.slogan {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 16px;
}
.right-part {
  height: 100%;
  width: 55%;
  padding: 48px;
  box-sizing: border-box;
}
.login-signup-switch-signup {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}
.switch-to {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.on-signup {
  padding-bottom: 10px;
  border-bottom: 4px solid #7c4ec4;
}
.signup-form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.username-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password-div-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.password-reveal-signup {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 18px;
}
.password-hide-signup {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 18px;
}
.signup-form input {
  height: 20px;
  width: 343px;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.signup-form button {
  border: none;
  font-family: "Poppins";
  height: 24px;
  width: 369px;
  padding: 8px 0 8px 0;
  color: white;
  background-color: #7c4ec4;
  border-radius: 5px;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Style du Footer */
footer {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  color: #5c48d3;
  margin: 100px 0 50px 0;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: #5c48d3;
}
